.box1{
	text-align: center;
    border-radius: 20px;
	font-size: 20px;
	border-style: solid;
	margin-top: 40px;
	margin-left:390px;
	margin-right:390px;
	padding: 20px;
	background-color: hsl(0, 100%, 50%);
}

.box3{
	text-align: center;
    border-radius: 20px;
	font-size: 20px;
	border-style: solid;
	margin-top: 40px;
	margin-left:390px;
	margin-right:390px;
	padding: 20px;
	background-color: hsl(197, 94%, 49%);
}



.box2{
	text-align: center;
    border-radius: 20px;
	font-size: 20px;
	border-style: solid;
	margin-top: 40px;
	margin-left:390px;
	margin-right:390px;
	padding: 20px;
	background-color: hsl(104, 93%, 49%);
}


.btn{
	background-color: #dd00ff; 
  border: groove;
  border-width : 3px;
  border-radius: 20px;
  border-color:#18944c;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  size: 30px;
}
