<html>
<head>
<title>Job Portal</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/css/bootstrap.min.css">
<link rel="stylesheet" href="../static/style.css">
<head>
<body>
<h2><b>Job Portal</b></h2>
<h1><center>Job Offer</center><h1>
<div class="box1">
	Data Analyst<br>
	Location:Coimbatore.<br>
	From Rs.55,000/month<br>
	A Data Analyst is responsible for organizing data related to sales numbers, market research, logistics, linguistics, or other behaviours. They utilize technical expertise to ensure data is accurate and high-quality..<br><br>
	<button class="btn"><b><i>Apply Now</i></b></button>
</div>
<div class="box2">
	Graphic Designer<br>
	Location:Chennai.<br>
	From Rs.50,000/month<br>
	The Graphic Designer is responsible for the entire process of defining requirements, visualizing and creating graphics including illustrations, logos, layouts and photos..<br><br>
	<button class="btn"><b><i>Apply Now</i></b></button>
</div>
<div class="box3">
	Full Stack Developer<br>
	Location:Bangalore<br>
	From Rs.65,000/month<br>
	Front-End developers create and manage the client-facing and server sides of websites and applications. Understanding the "full stack" requires a broad skill set and high-level knowledge of how front-end and back-end development work together, communicate, and connect.<br><br>
	<button class="btn"><b><i>Apply Now</i></b></button>
</div>
</body>
</head>